body{
    background : linear-gradient (100deg, #ffffff 50%, #0dcccc 50%);
}
.awal ul{
    align-items: center;
    text-align: right;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    color: rgb(6, 34, 32);
}

.awal a{
    text-decoration: none;
    color: black;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.hm h1{
    text-align: center;
}

.hm p{
    margin-top: 100px;
    text-align: center;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header p{
    margin-top: -40px;
}

.profile1{
    color: black;
    text-align: center;
}

.profile1 img{
    width: 380px;
    height: 300px;
}

header{
    margin-left: 40px;
    color: rgb(74, 201, 190);
}
.kontak_saya{
    text-align: center;
    padding: 200px;
}

.image img{
    width: 380px;
    height: 300px;
    padding-left: 100px;
}

.image{
    text-align: center;
}
